# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# macOS
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Node
/dist
/node_modules
/package-lock.json

# Files with secrets
/src/main/java/com/lennartmoeller/finance/DataMigrator.java
/src/main/resources/application.properties
