# macOS
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# IntelliJ
.idea/

# VSCode
.vscode/

# environment files
*.env
/env/

# coding agents
.claude/**
!.claude/agents/
!.claude/agents/**
.plans/
